@use './vars';
// Reset CSS margins and paddings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #e9e2dd;
  background-color: #f6f6f6;
  font-family: vars.$font-face;
}
