/*
 * Main pack grid CSS
 * Centred flexbox with flex-wrap
 */
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}
/*
 * CSS for the items inside of the grid
 */
.grid-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(33.33333% - 1.6rem);
  display: flex;
  flex-direction: column;
  font-size: medium;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0.8rem;
  margin-bottom: 2.2rem;

  img {
    height: auto;
    width: 100%;
  }

  p {
    font-weight: bold;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid-item {
    margin: 0.5rem 0.5rem;
    flex-basis: calc(50% - 1rem);
    p {
      margin: 0;
      margin-top: 0.9rem;
    }
  }
}
